In [2]:
import pandas as pd
import numpy as np
dados_cidades = pd.DataFrame({
    "Nome" : ["Ana", "Richard", "Francisco", "Roberto", "Valdirene"],
    "Cidade" : ["São Paulo", np.nan, "Curitiba", np.nan, "Belém"]
})

dados_cidades["Cidade_Preenchida"] = dados_cidades["Cidade"].fillna("Não informado")
dados_cidades

        Nome     Cidade Cidade_Preenchida
0        Ana  São Paulo         São Paulo
1    Richard        NaN     Não informado
2  Francisco   Curitiba          Curitiba
3    Roberto        NaN     Não informado
4  Valdirene      Belém             Belém

In [3]:
dados_temperaturas = pd.DataFrame({
    "Dia" : ["Segunda", "Terça", "Quarta", "Quinta", "Sexta"],
    "Temperatura" : [30, np.nan, np.nan, 28, 27]
})

dados_temperaturas["Preenchido_bfill"] = dados_temperaturas["Temperatura"].bfill()
dados_temperaturas

       Dia  Temperatura  Preenchido_bfill
0  Segunda         30.0              30.0
1    Terça          NaN              28.0
2   Quarta          NaN              28.0
3   Quinta         28.0              28.0
4    Sexta         27.0              27.0

In [4]:
dados_temperaturas = pd.DataFrame({
    "Dia" : ["Segunda", "Terça", "Quarta", "Quinta", "Sexta"],
    "Temperatura" : [30, np.nan, np.nan, 28, 27]
})

dados_temperaturas["Preenchido_ffill"] = dados_temperaturas["Temperatura"].ffill()
dados_temperaturas

       Dia  Temperatura  Preenchido_ffill
0  Segunda         30.0              30.0
1    Terça          NaN              30.0
2   Quarta          NaN              30.0
3   Quinta         28.0              28.0
4    Sexta         27.0              27.0